@{
    ViewBag.Title = "About";
}
<h2>About</h2>

<p>Pretty JSON was built to solve one simple problem: the need to get formatted JSON from a source that doesn't format it while saving the extra steps of passing it through a formatter/linter manually to format it before reading it.<p>
<p>This serves as a simple middleman host that returns the desired JSON formatted on a URL that can be directly consumed.</p>
