
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Formatted JSON</title>
</head>
<body>
	<pre>@Model</pre>
</body>
</html>
